.header_component{
    
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}
.headerTitleSm {
    position: absolute;
    top: 13%;
    font-size: 20px;
}
.headerTitleBg {
    position: absolute;
    top: 15%;
    font-size: 100px;
}

.headerImg {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-top: 85px;
}